.footer__section {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media (min-width: 571px) and (max-width: 1200px) {
  .page {
    color: white;
  }
}

@media (min-width: 320px) and (max-width: 570px) {
  .footer__section {
    width: 282px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: 0;
    text-align: left;
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }

  .footer {
    margin: 0;
    padding: 0;
  }
  .page__section {
    max-width: 320px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
}
