.modal {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: white;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 191px 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  margin: auto;
  border-radius: 10px;
  padding: 36px;
  background-color: #fff;
  position: relative;
  color: #fff;
}

.modal__container_preview {
  padding: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  color: white;
  background-color: transparent;
}

.modal__form {
  padding: 0;
  display: block;
}

.modal__card-preview {
  width: 433px;
  height: 540px;
  max-width: 75vh;
  max-height: 70vh;
  opacity: 1;
  transition-delay: 0s;
  color: white;
}

.modal__close {
  top: -45px;
  right: -40px;
  position: absolute;
  background-image: url("../images/close-icon.svg");
  border: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-preview {
  position: absolute;
  right: -40px;
}

.modal__heading {
  color: black;
  max-width: 330px;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0;
}

.modal__input {
  display: block;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 29px;
  padding-top: 27px;
  padding-bottom: 13.34px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.modal__input:first-of-type {
  margin-top: 39px;
}

.modal__input:last-of-type {
  margin-bottom: 29px;
}

.modal__button {
  border: none;
  width: 358px;
  height: 50px;
  color: white;
  background-color: black;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

@media (min-width: 282px) and (max-width: 768px) {
  .modal {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 123px 19px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: none;
    margin: 0 auto;
  }

  .modal_opened {
    display: flex;
  }

  .modal__container {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    padding: 0;
  }

  .modal__form {
    margin: auto 0;
    padding: 0;
    display: block;
    position: relative;
  }

  .modal__close {
    position: absolute;
    background-image: url("../images/close-icon.svg");
    border: none;
    top: -60px;
    right: 1px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }

  .modal__heading {
    max-width: 238px;
    font-family: Inter, Arial, sans-serif;
    font-weight: 900;
    text-align: left;
    padding: 0;
    margin: 25px 22px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__input {
    width: 238px;
    border: none;
    border-bottom: 1px solid rgba(211, 211, 211, 1);
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
    margin: 22px;
  }

  .modal__button {
    border: none;
    width: 238px;
    height: 50px;
    color: white;
    background: rgba(0, 0, 0, 1);
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    border-radius: 2px;
    margin: 39px 22px;
  }

  .modal__button:hover {
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
  }

  .modal__card-preview {
    position: absolute;
    top: -150px;
    right: -69px;
    height: 299px;
    width: 240px;
    max-width: 43vh;
    max-height: 75vh;
    opacity: 1;
    transition-delay: 0s;
  }

  .modal__container_preview {
    max-width: 240px;
    max-height: 299px;
    padding: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    color: white;
  }

  .modal__close-preview {
    position: absolute;
    right: -110px;
    top: -175px;
  }
}
