.page {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 320px;
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 571px) and (max-width: 1440px) {
  .page {
    color: white;
    margin: 0 auto;
  }

}

@media (min-width: 320px) and (max-width: 570px) {
  .page {
    margin: 0 auto;
    padding: 0;
    color: white;
  }

   .page__section {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
}
